.news-item .badge {
  float: left;
  margin-left: 0;
  margin-right: 14px;
}

.comment {
  margin: 20px 0;
}

.comment .header {
  padding: 5px 0;
}

.comment .content {
  border-left: 2px solid #ff6f00;
  padding-left: 12px;
}
