.news-item .badge {
  float: left;
  margin-left: 0;
  margin-right: 14px;
}

.comment {
  border-left: 2px solid #ff6f00;
  padding-left: 12px;
  margin: 20px 0;
}

.comment .header {
  padding: 5px 0;
  font-weight: bold;
  color: #ff6f00;
}

.comment.collapsed .content {
  height: 0;
  overflow: hidden;
}
